.logo{
  font-size: 48px;
  font-weight: lighter;
  color: #696969;
  text-align: center;
  font-family: sans-serif;
  margin-top: -20px;
}
header{
  padding: 25px 0;
  overflow: hidden;
}
body{
  background: url("../images/forest.jpg");
  background-size: cover;
  overflow: hidden;
  padding: absolute;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: #696969;
  text-align: center;
  font-family: sans-serif;
  margin-top: -40px;
}
#cta{
  padding-bottom: 20px;
}
.options{
  text-align: center;
}
.btn {
  display: inline-block;
  background: #e2e2e2;
  border: 0;
  line-height: 2.5em;
  padding: 0 0 0 1em;
  margin-bottom: 1em;
  outline: none;
  text-decoration: none;
  color: #666;
}
.arrow{
    display: inline-block;
    line-height: 2.5em;
    text-align: center;
    background: #333;
    color: white;
    font-size: 1em;
    width: 2.5em;
    transition: margin 200ms;
    margin-left: .75em;
}
.arrow:hover{
    background: white;
    margin-left: 1.25em;
    background-color: darken(#333,5%);
} 
.active.arrow{
  background: #ccc;
  margin-left: 1.5em;
}
.btn.btn-info.arrow {
  background-color: indianred;
}
.btn.btn-info .arrow&:hover {
  background-color: desaturate(darken(indianred,5%),5%);
}
.btn-learn .arrow&:hover{
  background-color: salmon;
  background-color: desaturate(darken(salmon,5%),5%);
}
button::-moz-focus-inner {
    border: none;
}
@import "compass/css3";


